{% extends 'base.html.twig'%}

{% block title %}
    {{ parent() }} - Bienvenue
{% endblock %}

{% block style %}
    {{ parent() }}
    <link href="{{ asset('style/accueil.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block main %}

    {% block nav %}
        {% include 'menu.html.twig' %}
    {% endblock %}

    <div class="bloc">
        <div class="bloc1">Créer un QCM</div>
        <div class="bloc2">Accéder à mes QCM</div>
        <div class="bloc3">Corriger un QCM</div>
    </div>


{% endblock %}





