<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}BETA{% endblock %}</title>

        {% block meta %}
        <meta charset="UTF-8">
        <meta name="author" content="BETA">
        <meta name="description" content="Se connecter à l'application BETA">
        {% endblock %} 
        
        {% block style %}
        <link href="{{ asset('style/style.css') }}" rel="stylesheet" type="text/css">
        {% endblock %} 

        {% block favicon %}
        <link rel="icon" href="{{ asset('svg/favicon.ico') }}" />
        {% endblock %}

        <!-- Télécharger la font pour moins de traffic extérieur -->
        {% block font %}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet"> 
        {% endblock %}      
    </head>

    <body>
        {% block main %}{% endblock %}
    </body>
</html>
