{% extends 'base.html.twig'%}

{% block title %}
    {{ parent() }} - Se connecter
{% endblock %}

{% block style %}  
    {{ parent() }}
    <link href="style/connexion.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block main %}
        <div class="container">

            <div class="titre">
            Se connecter
            </div>

            <form method="POST" action="{{ path('app_user_login') }}" class="div-connexion">
                <div class="user_box">
                <img src="svg/user2.svg" class="icon">
                <input type="email" size="30" name="_username" placeholder="Adresse mail" required>
                </div>

                <div class="user_box">
                <img src="svg/user3.svg" class="icon">
                <input type="password" size="30" name="_password" placeholder="Mot de passe" required>
                </div>

                <div class="stay_connected">
                <input type="checkbox" value="Rester connecté" name="_remember_me">
                <span>Se souvenir de moi</span>
                <a href="#" class="forgot_pwd">Mot de passe oublié</a>
                </div>

                <div class="validation_button">
                <input type="submit" value="Se connecter">
                </div>

            </form>

        </div>

{% endblock %}






