{% extends 'base.html.twig'%}

{% block title %}
    {{ parent() }} - Se connecter
{% endblock %}

{% block style %}  
    {{ parent() }}
    <link href="style/connexion.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block main %}
        <div class="container">
            <div class="titre">
            Se connecter
            </div>

            <form method="POST" action="{{ path('app_user_login') }}" class="div-connexion">
                <div class="user_box">
                <input type="email" size="30" name="_username" placeholder="Adresse mail" required>
                </div>

                <div class="user_box">
                <input type="password" size="30" name="_password" placeholder="Mot de passe" required>
                </div>

                {% if error %}
                    <div class="mess_erreur"> L'identifiant ou le mot de passe est incorrect </div>
                {% endif %}

                <div class="validation_button">
                <input type="submit" value="Se connecter">
                </div>

            </form>

        </div>

{% endblock %}






