{% extends 'base.html.twig'%}

{% block title %}
    {{ parent() }} - Se connecter
{% endblock %}

{% block style %}  
    {{ parent() }}
    <link href="style/connexion.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block main %}
        <div class="container">

            <div class="titre">
            Se connecter
            </div>

            <form method="POST" action="{{ path('app_user_login') }}" class="div-connexion">
                <div class="user_box">
                <img src="svg/user2.svg" class="icon">
                <input type="email" id="username" size="30" name="_username" placeholder="Adresse mail" required>
                </div>

                <div class="user_box">
                <img src="svg/user3.svg" class="icon">
                <input type="password" id="pwd" size="30" name="_password" placeholder="Mot de passe" required>
                </div>

                <div class="stay_connected">
                <input type="checkbox" id="rememberMe" onchange="setrememberMe(this)"value="Rester connecté" name="stay">
                <span>Se souvenir de moi</span>
                <a href="#" class="forgot_pwd">Mot de passe oublié</a>
                </div>

                <div class="validation_button">
                <input type="submit" value="Se connecter">
                </div>

            </form>

        </div>

    <script type="text/javascript">

        function setrememberMe(e){
            if (e.checked){

                if (pwdInput.value && usernameInput.value){
                    localStorage.setItem("checkbox","true");
                    localStorage.setItem("usernameInput",usernameInput.value);
                    localStorage.setItem("pwdInput",pwdInput.value);
                }

            }else{
                localStorage.checkbox = ""; 
                localStorage.clear(); 

            }
        }

        const rmCheck = document.getElementById("rememberMe");
        const usernameInput = document.getElementById("username");
        const pwdInput = document.getElementById("pwd");


        if (localStorage.checkbox && localStorage.checkbox !== "") {
            rmCheck.setAttribute("checked", "checked");
            usernameInput.value = localStorage.usernameInput;
            pwdInput.value = localStorage.pwdInput;

        }else{
            rmCheck.removeAttribute("checked");
        }
        
    </script>
{% endblock %}






