{% extends 'base.html.twig' %}

{% block body %}
    <h1> Liste des pages disponibles </h1>
    <ul>
        <li><a href="{{path('app_generate_qcm_test')}}"> Générerer QCM </a></li>
    </ul>
{% endblock %}
