{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} -
    Accueil
{% endblock %}

{% block main %}
    <h1> Liste des pages disponibles </h1>
    <ul>
         <li><a href="{{path('app_generate_qcm_test')}}"> Générerer QCM </a></li>
         <li><a href="{{path('connexion')}}"> Connexion </a></li>
    </ul>
{% endblock %}
