{% extends 'base.html.twig'%}

{% block title %}
    {{ parent() }} - Liste des utilisateurs
{% endblock %}

{% block style %}
    {{ parent() }}
    <link href="{{ asset('style/liste_utilisateur.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block main %}
    <nav>
        {% block nav %}
            {% include 'menu.html.twig' %}
        {% endblock %}
    </nav>

    <main>
        <div class="bloc">

        </div>
    </main>

{% endblock %}