{% block menu %}
    <div class="dropdown">
        <span class='hello_user'>Bienvenue User</span>
        <button class="boutonmenuprincipal"><img src="{{ asset('svg/user.svg') }}"></button>
        <div class="dropdown-child">
            <a href="qcm/mes_qcm">Mes QCM </a>
            <a href="qcm/modif_qcm">Créer un QCM</a>
            <a href="qcm/correction_qcm">Corriger un QCM</a>
            <a href="parametres">Paramètres</a>
            <a href="deconnexion">Déconnexion</a>
        </div>
    </div>
{% endblock %}