{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Page utilisateur{% endblock %}

{% block main %} 
  <h1 class='mes_qcm'>Mes QCM</h1>
{{ block("menu", "menu.html.twig")}}

<ul>
    {% for qcm in qcm_list %}
        <li>{{ qcm }}</li>
    {% endfor %}
</ul>
{% endblock %}
