{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Page utilisateur{% endblock %}

{% block main %} 
    {{ block("menu", "menu.html.twig")}}
    <h1 class='mes_qcm'>Mes QCM</h1>
    <ul>
        {% for qcm in qcm_list %}
            <li>{{ qcm.titre }}</li>
        {% endfor %}
    </ul>
{% endblock %}
