.titreQCM
{
    color: var(--dark);
    font-size: large;
}

.title input
{
    box-sizing: border-box;
    border: 3px solid #80B0BF;
    background-color: var(--light);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    border-radius: 23px;
    padding: 5px;
    margin: 5px;
}

.title input:focus
{
    border: 3px solid var(--dark);
}

.title
{
    margin: 4% 0 0 5%;
    font-weight: bolder;
}

#question_reponse
{
    border-radius: 23px;
    padding: 15px;
    width: 100%;
    color: var(--light);
    margin-top: 10px;
    text-align: center;
    grid-column: 1/2;
}

.question
{
    background-color: var(--dark);
    border-radius: 23px;
    padding: 15px;
    width: 90%;
    color: var(--light);
    margin-top: 10px;
    text-align: center;
    grid-column: 1/2;
    margin-bottom: 25px;
}

textarea
{
    background-color: var(--dark);
    color: var(--light);
    height: 6em;
    width: 30em;
    border: none;
    padding-left: 1em;
    resize: none;
}

textarea:focus
{
    resize: both;
}

.label_question
{
    margin-top: 1em;
    margin-left: 2em;
}

#question_reponse input[type=button]
{
    text-align: center;
    border-radius: 23px;
    background-color: var(--middle);
    color: var(--light);
    border: none;
    padding: 5px;
    margin: 10px;
    cursor: pointer;
}

#question_reponse input[type=file]
{
    position: relative;
    float: right;
}

#question_reponse input[type=text]
{
    box-sizing: border-box;
    border: none;
    background-color: var(--dark);
    padding: 5px;
    color: var(--light);
    outline: none;
    font-size: medium;
}

#enonceQuestion::placeholder
{
    color: var(--light);
    font-style: italic;
}

.text_reponse::placeholder
{
    color: var(--light);
    font-style: italic;
}

.text_reponse
{
    margin: 5px;
    border: none;
    background-color: var(--dark);
    color: var(--light);
    outline: none;
}

.grid
{
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: auto;
}

.boutons_crea
{
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 70%;
    margin-top: 5%;
}

.button_form input
{
    cursor: pointer;
    width: 12em;
    padding: 4%;
    border-radius: 23px;
    background-color: var(--dark);
    color: var(--light);
    border: none;
    margin: 2%;
    z-index: -1;
}

p
{
    display: flex;
    margin : 0;
}

.boutons_option
{
    cursor: pointer;
    width: 15em;
    padding: 4%;
    border-radius: 23px;
    background-color: var(--middle);
    color: var(--light);
    border: none;
    margin: 2%;
    z-index: -1;
}

.boutons_option input
{
    border: none;
    background-color: var(--middle);
    color: var(--light);
    padding-left: 3%;
}

/****************** TOGGLE ****************/
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
    margin-left: 1em;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: var(--light);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: var(--dark);
}

input:focus + .slider {
    box-shadow: 0 0 1px var(--dark);
}

input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}