.titreQCM
{
    color: var(--dark);
    font-size: large;
}

.title input
{
    box-sizing: border-box;
    border: 3px solid #80B0BF;
    background-color: var(--light);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    border-radius: 23px;
    padding: 5px;
    margin: 5px;
}

.title input:focus
{
    border: 3px solid var(--dark);
}

.title
{
    margin: 4% 0 0 5%;
    font-weight: bolder;
}

#question_reponse
{
    border-radius: 23px;
    padding: 15px;
    width: 100%;
    color: var(--light);
    margin-top: 10px;
    text-align: center;
    grid-column: 1/2;
}

.question
{
    background-color: var(--dark);
    border-radius: 23px;
    padding: 15px;
    width: 90%;
    color: var(--light);
    margin-top: 10px;
    text-align: center;
    grid-column: 1/2;
    margin-bottom: 25px;
}

#question_reponse input[type=button]
{
    text-align: center;
    border-radius: 23px;
    background-color: var(--middle);
    color: var(--light);
    border: none;
    padding: 5px;
    margin: 10px;
    cursor: pointer;
}

#question_reponse input[type=file]
{
    position: relative;
    float: right;
}

#question_reponse input[type=text]
{
    box-sizing: border-box;
    border: none;
    background-color: var(--dark);
    padding: 5px;
    color: var(--light);
    outline: none;
    font-size: medium;
}

.text_reponse
{
    margin: 5px;
    border: none;
    background-color: var(--dark);
    color: var(--light);
    outline: none;
}

.grid
{
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: auto;
}

.boutons_crea
{
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 70%;
    margin-top: 7%;
}

.button_form input
{
    cursor: pointer;
    width: 12em;
    padding: 4%;
    border-radius: 23px;
    background-color: var(--dark);
    color: var(--light);
    border: none;
    margin: 4%;
    z-index: -1;
}

p
{
    display: flex;
    margin : 0;
}