.titre
{
    color: var(--dark);
    padding-top: 2em;
    padding-bottom: 0.5em;
    padding-left: 5em;
    font-size: x-large;
    font-weight: bold;
}

table
{
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

td
{
    padding: 1em;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #DCDCDC;
}

tr:hover {
    background-color: #C0C0C0;
}

.underline{
    text-decoration: none;
    color: var(--dark);
}

.underline:hover
{
    text-decoration: underline;
}

.tri
{
    margin-left: 3em;
    font-size: small;
    margin-bottom: 2em;
    position: relative;
}

select
{
    border: none;
    background-color: var(--light);
    font-size: small;
}